<h2>Pipes</h2>

<!-- <div>
  <h4>{{producto.nombre}}</h4>
  <p>Precio: {{producto.precio}}</p>
  <p>Fecha de lanzamiento: {{producto.fechaAlta}}</p>
  <p>{{producto.descripcion}}</p>
</div> -->

<div>
  <h4>{{producto.nombre | titlecase}}</h4>
  <p>Precio: {{producto.precio | doble | currency:'EUR'}}</p>
  <p>Precio: {{producto.precio | doble:1 | currency:'EUR'}}</p>
  <p>Precio: {{producto.precio | doble:1:2 | currency:'EUR'}}</p>
  <p>Fecha de lanzamiento: {{producto.fechaAlta | date:'dd/MM/yyyy'}}</p>
  <p>{{producto.descripcion | slice:0:80}}...</p>
</div>

<pre>{{producto | json}}</pre>

<p>Mensaje: {{mensaje | async}}</p>



<input type="text" (change)="addProducto($event)">

<ul>
  <li *ngFor="let p of productos">{{p}}</li>
</ul>

<input type="text" [(ngModel)]="textoFiltro">

<ul>
  <li *ngFor="let p of productos | filtro:textoFiltro">{{p}}</li>
</ul>